 /* maybe a dark offset for the quiz display? Like an overlay effect? */


* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: url(https://lh3.googleusercontent.com/mHBDRdzcAL4bPCKsIZMq74R2pLjjf-m2pS1R0lxXi3kJCCCjhxElyv_UCR96eB8OvN_oxY4yKZwLH5l52oCWWSKmE2WoJD_pbTLRwSAfY2xL4Gyc1AvEuIKDB-1EGBRDNaXSbi-iodnkFVmOn17AIZoUAkqoiZlwC19E5ftUXYVZb56ik_bdE33Jdxkv0ORL53nrz1WL_tP9awYJtRrjLFg1vaJNxsRuwSzj8k6hb74azPXe7UG3pJwaRqYOYmyw-bH-ItkZbGz0pF5gyPKNcwXtzpDPx_yHNvXzZL8EN-PZP1HN8uRGcQLNBg1dOQHOQHQPB2vaAlwBW1-Q5JEtqwyaOvZf78Nkfktsv0xUcU1YTol-cmnLYt-DYXKfHAzcihJCrXmyeu1KjJB4vObmm0JMZX9lKDPkDlBXbJGeuGZpcVFW9p5BULnHkqxDTHUHsASEwyTLBGrLMP3JOrUwTZ6RQtu7xLp5GUK99bEice1yicSSK9G_tVricBKXBxpbwyq8uZO78ib4vZq0WfgQYF_MdyIBK-7FsqeZ1HzkAbMy8DMJu3qD_4OeDsXq-g1iW8aLuRtJTs6CvdJgWB3Lw8Cno6Q75myMkf7Ibno6mBdDY2t6fCjI9Z3KIaBW2_e5qVYIyt2if2OIKXGjHcLPwOt1jlrxIJo=w2298-h1716-no) no-repeat;
  background-size: cover; 
}

.logo img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
}

.intro-screen {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Noto Serif KR', serif;
  font-weight: 600;
  background-color: rgba(0,0,0,0.0);
  z-index: 1;
  border-radius: 5px;
  font-size: 1.2em;
}

.quiz-display {
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

header {
  text-align: center;
  font-family: 'Rye', cursive;
  font-size: 2em;
}

h1 {
  margin-bottom: 0;
  margin-top: 0;
}
.quiz-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#quiz-start {
  /* width: 10%; */
  height: 75px;
  width: 150px;
  font-family: 'Noto Serif KR', serif;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #33191d ;
  color: white;
}

.scoreboard {
  display: none;
}

.answerOption1 {
  color: red;
}

label {
  display: block;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
}

input {
  width: 20px;
}


